################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/LJD.App
/src/LJD.App.Model/bin
/src/LJD.App.Model/obj
/src/LJD.App.Repository/obj
/src/LJD.App.Repository/bin
/src/LJD.App.Service/obj
/src/LJD.App.Service/bin
/src/LJD.App.Util/bin
/src/LJD.App.Web/obj
/src/LJD.App.Web/bin
