@using LJD.App.Util
  
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>权限验证失败- LJD.App.Web</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/layui/layui.all.js"></script>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div style=" margin-top: 30px; text-align: center;">
        <i class="layui-icon" face style="  display: inline-block; font-size: 300px; color: #393D49;">&#xe664;</i>
    
        <div class="layui-text" style="font-size: 20px;">
           您没有权限访问!
        </div>
    
    </div>
</div>
</body>
</html>