  
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>未登录- LJD.App.Web</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/layui/layui.all.js"></script>
</head>
<body>
    <script type="text/javascript">
        $(function() {
            layer.msg('正在跳转到登录页面', {
                icon: 16
                ,time:2000
                ,shade: 0.01
            }, function() {
                top.location.href = '@Url.Action("Index", "Login", new { Area = "Admin" })';
            });
        });

    </script>
</body>
</html>